<h1>Community</h1>
<div class="row">
  <div class="col s1 m1 l1">
    Since
  </div>
  <div class="col s5 m5 l5">
    <input input-date
           type="text"
           name="created"
           id="since"
           ng-model="vm.since"
           format="mmmm d, yyyy"
           today="today"
           clear="clear"
           close="close"
           select-years="15"
           ng-change="vm.onChange()"
    />

  </div>
  <div class="col s1 m1 l1">
    Until
  </div>

  <div class="col s5 m5 l5">
    <input input-date
           type="text"
           name="created"
           id="until"
           ng-model="vm.until"
           format="mmmm d, yyyy"
           today="today"
           clear="clear"
           close="close"
           select-years="15"
           ng-change="vm.onChange()"

    />

  </div>

</div>

<div class="row">
  <div class="col s1 m1 l1">
    Page :
  </div>
  <div class="col s5 m5 l5">
    <select ng-change="vm.onSelect()" ng-model="vm.selectedChannel._id" name="" id="" material-select watch>
      <option value="" selected disabled>Pick a page</option>
      <option ng-repeat="channel in vm.myChannels" value="{{channel._id}}">{{channel.name}}</option>
    </select>

  </div>
  <div class="col s1 m1 l1">
    Selected Date :
  </div>

  <div class="col s5 m5 l5">
    <select ng-change="vm.onChangeSelectedDate()" ng-model="vm.selectedDate" material-select watch>
      <option ng-repeat="date in vm.Dates" value="{{$index}}">{{date.text}}</option>
    </select>


  </div>

</div>


<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-move-up waves-effect waves-block waves-light">
        <div class="move-up red darken-1">
          <div>
            <span class="chart-title white-text">Page Storytellers by Gender/Age</span>
            <!--<div class="chart-revenue cyan darken-2 white-text">-->
            <!--<p class="chart-revenue-total">$4,500.85</p>-->
            <!--<p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80 %</p>-->
            <!--</div>-->
            <!--<div class="switch chart-revenue-switch right">-->
            <!--<label class="cyan-text text-lighten-5">-->
            <!--Month-->
            <!--<input type="checkbox">-->
            <!--<span class="lever"></span> Year-->
            <!--</label>-->
            <!--</div>-->
          </div>
          <line-chart ng-if="vm.display" line-labels="{{vm.storytellersLabels}}"
                      line-data="{{vm.storytellersData}}"></line-chart>

        </div>
      </div>
      <div class="card-content">
        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i
          class="mdi-content-add activator"></i></a>
        <doughnut-chart doughnut-data="{{vm.TotalStoryByGender}}" ></doughnut-chart>
        <div class="col s12 m5 l6">
          <bar-chart bar-data="{{vm.dataPageEngagedUsers}}" bar-labels="{{vm.labelsPageEngagedUsers}}"></bar-chart>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Revenue by Month <i
          class="mdi-navigation-close right"></i></span>
        <table class="responsive-table">
          <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="month">Month</th>
            <th data-field="item-sold">Item Sold</th>
            <th data-field="item-price">Item Price</th>
            <th data-field="total-profit">Total Profit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>January</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>February</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>March</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>4</td>
            <td>April</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>5</td>
            <td>May</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td>June</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>7</td>
            <td>July</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td>August</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Septmber</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Octomber</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>11</td>
            <td>November</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          <tr>
            <td>12</td>
            <td>December</td>
            <td>122</td>
            <td>100</td>
            <td>$122,00.00</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript" src="angular/app/assets/js/plugins/chartjs/chart.min.js"></script>
