<!DOCTYPE html>
<html lang="en" ng-app="ATSApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ereputation</title>
  <!-- Favicons-->
  <link rel="icon" href="angular/app/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- CORE CSS-->
  <link href="angular/app/assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="angular/app/assets/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="angular/app/assets/css/page/wizard/wizard.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="angular/app/assets/js/plugins/dropify/css/dropify.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body >
<!-- Start Page Loading -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color" style="background-color: #444444">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper"><a href="admin.html" class="brand-logo darken-1"><img
              src="angular/app/assets/images/logo.png" alt="materialize logo"></a> <span
              class="logo-text">Materialize</span></h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
          <i class="mdi-action-search"></i>
          <input type="text" name="Search" class="header-search-input z-depth-2"
                 placeholder="Search ..."/>
        </div>
        <ul class="right hide-on-med-and-down">
          <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"
                 data-activates="translation-dropdown"><img src="angular/app/assets/images/flag-icons/United-States.png"
                                                            alt="USA"/></a>
          </li>
          <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i
            class="mdi-action-settings-overscan"></i></a>
          </li>
          <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button"
                 data-activates="notifications-dropdown"><i class="mdi-social-notifications">
            <small class="notification-badge">5</small>
          </i>
          </a>
          </li>
          <li><a href="#" data-activates="chat-out"
                 class="waves-effect waves-block waves-light chat-collapse"><i
            class="mdi-communication-chat"></i></a>
          </li>
        </ul>
        <!-- translation-button -->
        <ul id="translation-dropdown" class="dropdown-content">
          <li>
            <a href="#!"><img src="angular/app/assets/images/flag-icons/United-States.png" alt="English"/> <span
              class="language-select">English</span></a>
          </li>
          <li>
            <a href="#!"><img src="angular/app/assets/images/flag-icons/France.png" alt="French"/> <span
              class="language-select">French</span></a>
          </li>
          <li>
            <a href="#!"><img src="angular/app/assets/images/flag-icons/China.png" alt="Chinese"/> <span
              class="language-select">Chinese</span></a>
          </li>
          <li>
            <a href="#!"><img src="angular/app/assets/images/flag-icons/Germany.png" alt="German"/> <span
              class="language-select">German</span></a>
          </li>
        </ul>
        <!-- notifications-dropdown -->
        <ul id="notifications-dropdown" class="dropdown-content">
          <li>
            <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
          </li>
          <li>
            <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
          </li>
          <li>
            <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
          </li>
          <li>
            <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
          </li>
          <li>
            <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
      <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
          <div class="row">
            <div class="col col s4 m4 l4">
              <img src="uploads/images/{{currentUser.profilePicture}}.jpeg" alt=""
                   class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
              <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="#" ng-click="goToProfile()"><i class="mdi-action-face-unlock"></i> Profile</a>
                </li>
                <li><a href="#" ng-click="goToSettings()"><i class="mdi-action-settings"></i> Settings</a>
                </li>
                <li class="divider"></li>
                </li>
                <li><a href="#" ng-click="logOut()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                </li>
              </ul>



              <a ng-if="currentUser.kind=='Individual'" class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                 data-activates="profile-dropdown">{{currentUser.firstName}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
              <a ng-if="currentUser.kind=='Business'" class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                 data-activates="profile-dropdown"
              >{{currentUser.businessName}}<i class="mdi-navigation-arrow-drop-down right"></i></a>

              <p class="user-roal">{{currentUser.kind}}</p>
            </div>
          </div>
        </li>
        <li ui-sref-active="active" class="bold"><a ui-sref="dashboard" class="waves-effect waves-cyan"><i
          class="mdi-action-dashboard"></i> Dashboard</a>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <ul class="collapsible collapsible-accordion">
              <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-track-changes"></i> Manage
                  Campaign</a>
                <div class="collapsible-body">
                  <ul>
                    <li ui-sref-active="active"><a ui-sref="campaignCreate">Create Campaign</a>
                    </li>
                    <li ui-sref-active="active" ><a ui-sref="campaignList" >Show Campaigns</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

          </ul>
        </li>

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <ul class="collapsible collapsible-accordion">
              <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-track-changes"></i> Manage
                  Channels</a>
                <div class="collapsible-body">
                  <ul>
                    <li ui-sref-active="active"><a ui-sref="newChannel">Create Channel</a>
                    </li>
                    <li ui-sref-active="active" ><a ui-sref="channels" >Show Channels</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

          </ul>
        </li>

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <ul class="collapsible collapsible-accordion">
              <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-track-changes"></i> Facebook </a>
                <div class="collapsible-body">
                  <ul>
                    <li ui-sref-active="active"><a ui-sref="facebookOverview">Overview</a>
                  </ul>
                </div>
              </li>
            </ul>

          </ul>
        </li>





        <a href="#" data-activates="slide-out"
           class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i
          class="mdi-navigation-menu"></i></a>
      </ul>
      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only grey darken-1"><i class="mdi-navigation-menu"></i></a>

    </aside>
    <!-- END LEFT SIDEBAR NAV-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTENT -->
    <section id="content">
      <!--breadcrumbs start-->
      <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
          <i class="mdi-action-search active"></i>
          <input type="text" name="Search" class="header-search-input z-depth-2"
                 placeholder="Explore Materialize">
        </div>

        <!--TODO - This Must Be Deplaced to the view and be dynamic -->

      </div>
      <!--breadcrumbs end-->
      <!--start container-->
      <div class="container">
        <div class="section">
          <!-- UI VIEW -->
          <!-- //////////////////////////////////////////////////////////////////////////// -->
          <!-- START HEADER -->
          <div ui-view></div>
          <!-- END  UI VIEW -->
          <!-- //////////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- Floating Action Button -->
        <!--<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">-->
        <!--<a class="btn-floating btn-large">-->
        <!--<i class="mdi-action-stars"></i>-->
        <!--</a>-->
        <!--<ul>-->
        <!--<li><a href="assets/css-helpers.html" class="btn-floating red"><i-->
        <!--class="large mdi-communication-live-help"></i></a></li>-->
        <!--<li><a href="app-widget.html" class="btn-floating yellow darken-1"><i-->
        <!--class="large mdi-device-now-widgets"></i></a></li>-->
        <!--<li><a href="app-calendar.html" class="btn-floating green"><i-->
        <!--class="large mdi-editor-insert-invitation"></i></a></li>-->
        <!--<li><a href="app-email.html" class="btn-floating blue"><i-->
        <!--class="large mdi-communication-email"></i></a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- Floating Action Button -->
      </div>
      <!--end container-->
    </section>
    <!-- END CONTENT -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
      <ul id="chat-out" class="side-nav rightside-navigation">
        <li class="li-hover">
          <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i
            class="mdi-navigation-close"></i></a>
          <div id="right-search" class="row">
            <form class="col s12">
              <div class="input-field">
                <i class="mdi-action-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Search</label>
              </div>
            </form>
          </div>
        </li>
        <li class="li-hover">
          <ul class="chat-collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent
                Activity
              </div>
              <div class="collapsible-body recent-activity">
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i
                    class="mdi-action-add-shopping-cart"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">just now</a>
                    <p>Jim Doe Purchased new equipments for zonal office.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i
                    class="mdi-device-airplanemode-on"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">Yesterday</a>
                    <p>Your Next flight for USA will be on 15th August 2015.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i
                    class="mdi-action-settings-voice"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">5 Days Ago</a>
                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">Last Week</a>
                    <p>Jessy Jay open a new store at S.G Road.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i
                    class="mdi-action-settings-voice"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">5 Days Ago</a>
                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header light-blue white-text active"><i
                class="mdi-editor-attach-money"></i>Sales Repoart
              </div>
              <div class="collapsible-body sales-repoart">
                <div class="sales-repoart-list  chat-out-list row">
                  <div class="col s8">Target Salse</div>
                  <div class="col s4"><span id="sales-line-1"></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Payment Due</div>
                  <div class="col s4"><span id="sales-bar-1"></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Total Delivery</div>
                  <div class="col s4"><span id="sales-line-2"></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Total Progress</div>
                  <div class="col s4"><span id="sales-bar-2"></span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite
                Associates
              </div>
              <div class="collapsible-body favorite-associates">
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="angular/app/assets/images/avatar.jpg" alt=""
                                           class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Eileen Sideways</p>
                    <p class="place">Los Angeles, CA</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="angular/app/assets/images/avatar.jpg" alt=""
                                           class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Zaham Sindil</p>
                    <p class="place">San Francisco, CA</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="angular/app/assets/images/avatar.jpg" alt=""
                                           class="circle responsive-img offline-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Renov Leongal</p>
                    <p class="place">Cebu City, Philippines</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="angular/app/assets/images/avatar.jpg" alt=""
                                           class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Weno Carasbong</p>
                    <p>Tokyo, Japan</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="angular/app/assets/images/avatar.jpg" alt=""
                                           class="circle responsive-img offline-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Nusja Nawancali</p>
                    <p class="place">Bangkok, Thailand</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
    <!-- LEFT RIGHT SIDEBAR NAV-->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<style>
  html {
    overflow-x: hidden;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  #main {
    flex: 1 0 auto;
  }

</style>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
               <span>Copyright © 2017 <a class="grey-text text-lighten-4"
                                         href="#"
                                         target="_blank"></a> All rights reserved.</span>
      <span class="right"> Designed and Developed by <a class="grey-text text-lighten-4"
                                                        href="">Brogrammers</a></span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
<!-- ================================================
   Scripts
   ================================================ -->
<!-- jQuery Library  MUST BE FIRST * -->
<script type="text/javascript" src="angular/app/assets/js/plugins/jquery-1.11.2.min.js"></script>
<!--Best Script Loader Ever * -->
<script src="angular/app/assets/js/scriptLoader.js"></script>

<script src="angular/app/bower_components/angular/angular.min.js"></script>
<script src="angular/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="angular/app/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="angular/app/bower_components/angular-load/angular-load.min.js"></script>
<script src="angular/app/bower_components/moment/min/moment.min.js"></script>

<!--<script src="angular/app/bower_components/angular-material/angular-material.min.js"></script>-->


<!--Fusion Chart Script-->
<!--<script src="angular/app/bower_components/fusioncharts/fusioncharts.js"></script>-->
<!--<script src="angular/app/bower_components/fusioncharts/fusioncharts.charts.js"></script>-->
<!--<script src="angular/app/bower_components/fusioncharts/angular-fusioncharts.min.js"></script>-->



<!--Delete OClazyLoad after your correct your code-->
<script src="angular/app/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="angular/app/app-back-office.js"></script>
<!--/*User Module Scripts*/-->
<script src="angular/app/dashboard/dashboard.controller.js"></script>
<script src="angular/app/dashboard/dashboard.factory.js"></script>
<script src="angular/app/dashboard/dashboard.service.js"></script>
<!--/*End of User Module Scripts*/-->

<!--Hakim Campaign Modules starts-->
<script src="angular/app/campaign/campaign.controller.js"></script>
<script src="angular/app/campaign/campaign.factory.js"></script>
<script src="angular/app/campaign/campaign.service.js"></script>
<script src="angular/app/components/campaign/date.display.directive.js"></script>
<script src="angular/app/components/campaign/confirmationAlert.directive.js"></script>
<script src="angular/app/components/campaign/errSrc.directive.js"></script>
<script type="text/javascript" src="angular/app/bower_components/qrcode/lib/qrcode.min.js"></script>
<script type="text/javascript" src="angular/app/bower_components/angular-qr/angular-qr.min.js"></script>
<script src="angular/app/campaign/controllers/campaign.sentiment.controller.js"></script>
<script src="angular/app/campaign/controllers/campaign.fb.controller.js"></script>
<script src="angular/app/campaign/controllers/campaign.tw.controller.js"></script>
<script src="angular/app/campaign/controllers/campaign.web.controller.js"></script>
<script src="angular/app/components/googleCharts/donutChart.directive.js"></script>
<script src="angular/app/components/googleCharts/ndrawStacked.directive.js"></script>
<script src="angular/app/components/googleCharts/comboChart.directive.js"></script>

<!--Hakim Campaign Modules ends-->

<script src="angular/app/components/prevent-default.directive.js"></script>

<script src="angular/app/channel/channel.controller.js"></script>
<script src="angular/app/channel/controllers/detail-channel.controller.js"></script>
<script src="angular/app/channel/controllers/create-channel.controller.js"></script>
<script src="angular/app/channel/channel.service.js"></script>
<script src="angular/app/channel/channel.factory.js"></script>

<!--Facebook Service-->
<script src="angular/app/facebook/facebook.controller.js"></script>
<script src="angular/app/facebook/controllers/facebookCommunity.controller.js"></script>
<script src="angular/app/facebook/facebook.factory.js"></script>
<script src="angular/app/facebook/services/facebook.service.js"></script>

<!--Chart Component-->
<script src="angular/app/components/charts/lineChartCurved/linechartCurved.directive.js"></script>
<script src="angular/app/components/charts/radarChart/radarchart.directive.js"></script>
<script src="angular/app/components/charts/doughnutChart/doughnutChart.directive.js"></script>
<script src="angular/app/components/charts/barChart/barChart.directive.js"></script>
<script src="angular/app/components/charts/lineChart/lineCharts.directive.js"></script>

<script src="angular/app/components/colorPicker.service.js"></script>


<!--User Profile-->
<script src="angular/app/user/controllers/profile.controller.js"></script>
<script src="angular/app/user/profile.service.js"></script>

<script src="angular/app/user/controllers/settings.controller.js"></script>
<script src="angular/app/user/settings.factory.js"></script>
<script src="angular/app/user/settings.service.js"></script>
<!--End User Profile-->

<!--Ibrahim Modules ends-->

<!-- sentimental analysis start -->
<script src="angular/app/sentimental_analysis/sentimental_analysis.controller.js"></script>
<script src="angular/app/sentimental_analysis/sentimental_analysis.factory.js"></script>
<script src="angular/app/sentimental_analysis/sentimental_analysis.service.js"></script>
<!-- sentimental analysis end -->

<!--materialize js-->
<script type="text/javascript" src="angular/app/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="angular/app/assets/js/plugins/angular-materialize.js"></script>
<script src="angular/app/bower_components/moment/min/moment.min.js"></script>
<!--<script src="angular/app/bower_components/smDateTimeRangePicker/src/picker.js"></script>-->

<!--scrollbar-->
<script type="text/javascript" src="angular/app/assets/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="angular/app/assets/js/plugins.min.js"></script>
<script type="text/javascript" src="angular/app/assets/js/plugins/formatter/jquery.formatter.min.js"></script>
<script type="text/javascript" src="angular/app/assets/js/plugins/dropify/js/dropify.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="angular/app/assets/js/custom-script.js"></script>

</body>
</html>
