<style>
  body {
    background: url("angular/app/assets/images/bg1.jpg") no-repeat fixed center;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: cover;
  }
</style>
<link rel="stylesheet" href="angular/app/assets/css/m-select.css">
<div class="row col s12">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" ng-submit="user.onSubmitLoginf()">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="angular/app/assets/images/full-logo.png" alt=""
                 class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Please enter your email address</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="email" type="email" ng-model="recover.requestedEmail">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action"
                    ng-click="recover.forgotPasswordRequestBtn()">Request New Password
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#"></a></p>
          </div>
          <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a href="#" ui-sref="login">Back To Login</a></p>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
