<div class="col s12">
  <hr>
  <nav>
    <div class="nav-wrapper indigo darken-1">
      <a href="#!" class="brand-logo right"><h5 style="font-size: small">Last operation : 4 hours ago</h5></a>
      <ul class="left hide-on-med-and-down">
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.overview">Overview</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookOverview">My Pages</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookCommunity">Community</a></li>
      </ul>
    </div>
  </nav>
  <ui-view></ui-view>
</div>


