<div class="col s12">
  <hr>
  <nav>


    <div class="nav-wrapper indigo darken-1">
      <h5 ng-if="vm.selectedCampaignData.facebookScrapingState" class="brand-logo right" style="font-size: small">
        Last operation : {{vm.selectedCampaignData.facebookScrapingState.date | date :'MMM d, y h:mm:ss a'}}

      </h5>
      <h5 ng-if="!vm.selectedCampaignData.facebookScrapingState" class="brand-logo right" style="font-size: small">
        Last operation : No Data Yet

      </h5>

      <a href="#" data-activates="mobile-demo"
         class="button-collapse">
        <i class="mdi-navigation-menu"></i></a>


      <ul class="left hide-on-med-and-down">
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.overview">Overview</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookOverview">My Pages</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookCommunity">Community</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookSpecific">Specific</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.overview">Overview</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookOverview">My Pages</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookCommunity">Community</a></li>
        <li ui-sref-active="active"><a ui-sref="campaignDetail.campaignFbAnalysis.facebookSpecific">Specific</a></li>
      </ul>


    </div>
  </nav>
  <ui-view></ui-view>
</div>


