<div class="col s12">
  <div id="tab-sentiment" class="col s12 ">
    <!-- your In tab Work
    Sentiment WORK
{{camp.positive}}
      negative : {{camp.negative}}
      neutre : {{camp.neutral}}-->
      <p class="header center">ALL OVERVIEW</p>

    <donut-chart ng-if="camp.detailCampaign._id" my-id="{{camp.detailCampaign._id}}" positive="{{camp.positive}}" negative="{{camp.negative}}" neutral="{{camp.neutral}}"></donut-chart>
   <!-- <ndraw-stacked now-negative="{{camp.negative_today}}" now-neutral="{{camp.neutral_today}}" now-positive="{{camp.positive_today}}" yes-negative="{{camp.negative_last}}" yes-neutral="{{camp.neutral_last}}" yes-positive="{{camp.positive_last}}" old-negative="{{camp.negative_lastD}}" old-neutral="{{camp.neutral_lastD}}" old-positive="{{camp.positive_lastD}}" ng-if="camp.detailCampaign._id" my-id="{{camp.detailCampaign._id}}"></ndraw-stacked>
   //my-table="{{vm.reputationByReactions}}
   -->
    <ndraw-stacked ng-if="SentimentalCampaignData"   my-table="{{SentimentalCampaignData}}"  my-id="{{camp.detailCampaign._id}}"></ndraw-stacked>

    <combo-chart my-table="{{SentimentalChannelData}}" ng-if="SentimentalChannelData" my-id="{{camp.detailCampaign._id}}"></combo-chart>
  </div>
</div>



