<div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>{{title}}</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a routerLink="/register" routerLinkActive="active" class="mdl-layout__tab is-active">Register</a>
      </div>
    </header>
    <main class="mdl-layout__content">

        <section class="section--center mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col">

            <router-outlet></router-outlet>
          </div>
        </section>

    </main>
  </div>
</div>
