
<div class="col m10 s12 center-align">
  <h1>Add Channel</h1>
  <div class="input-field">

    <input type="text" class="autocomplete"
           placeholder="Add Channel"
           data-source="url:options.json"
           data-mode="simple"
           ng-model="vm.newChannel.link" />
    <button class="btn btn-flat"><i class=" ui-icon-plus"></i> Add</button>

    <!--{{ vm.OPTIONS}}-->
    <!--data-source="[['aaaa', 1], ['aaab', 2], ['aabb', 3], ['abbb', 4],-->
    <!--['bbbb', 5], ['hello world', 6], ['this is a test', 7]]"-->
  </div>
  <br>
  <br>
  <br>
  <div class="chip white-text black"
       >
    <!--<img src="../../assets/images/login-logo.png" alt="Materialize">-->
    https://www.nytimes.com
    <i class="material-icons mdi-navigation-close"></i>
  </div>
  <div class="chip white-text black"
       >
    <!--<img src="../../assets/images/login-logo.png" alt="Materialize">-->
    https://www.washingtonpost.com
    <i class="material-icons mdi-navigation-close"></i>
  </div>

</div>
