<div class="col s12 m8 l9">
  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
    <li>
      <div id="campaign-section" class="collapsible-header active"><i class="mdi-action-info-outline"></i>CAMPAIGN INFO
      </div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form id="info-campaign-form" class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input required id="c_n" type="text">
                    <label for="c_n">Campaign Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-editor-insert-link prefix"></i>
                    <input required id="c_url" type="url">
                    <label for="c_url">Main Website</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-timer prefix"></i>
                    <input required id="datestart" type="date" class="datepicker">
                    <label for="datestart">Date start</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-timer-off prefix"></i>
                    <input required id="dateend" type="date" class="datepicker">
                    <label for="dateend">Date end</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-maps-local-phone prefix"></i>
                    <input id="c_phone" type="tel">
                    <label for="c_phone">Phone Number</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-action-subject prefix"></i>
                    <textarea required id="c_desc" class="materialize-textarea"></textarea>
                    <label for="c_desc">Description</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button onclick="validateAndGoNext('#assign-section')"
                            class="btn grey darken-3 waves-effect waves-light right" name="action">Next
                      <i class="mdi-image-navigate-next right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="assign-section" class="collapsible-header"><i class="mdi-action-language"></i>ASSIGN CHANNELS</div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input id="ch_url" type="url">
                    <label for="ch_url">Channel URL</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input id="ch_name" type="text">
                    <label for="ch_name">Channel Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s1">
                    <i class="mdi-image-edit prefix"></i>
                  </div>
                  <div class="input-field col s11">
                    <select name="type" id="ch_type">
                      <option value="" disabled selected>Type</option>
                      <option value="facebook">Facebook</option>
                      <option value="twitter">Twitter</option>
                      <option value="website">Website/Blogs</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <button onclick="validateAndGoNext('#campaign-section')"
                            class="btn grey darken-3 waves-effect waves-light left" name="action">Previous
                      <i class="mdi-image-navigate-before left"></i>
                    </button>
                  </div>
                  <div class="input-field col s6">
                    <button onclick="validateAndGoNext('#keywords-section')"
                            class="btn grey darken-3 waves-effect waves-light right" name="action">Next
                      <i class="mdi-image-navigate-next right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="keywords-section" class="collapsible-header"><i class="mdi-action-book"></i>KEYWORDS</div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input id="c_nnn" type="text">
                    <label for="c_n">Campaign Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <button onclick="validateAndGoNext('#assign-section')"
                            class="btn grey darken-3 waves-effect waves-light left" name="action">Previous
                      <i class="mdi-image-navigate-before left"></i>
                    </button>
                  </div>
                  <div class="input-field col s6">
                    <button class="btn grey darken-3 waves-effect waves-light right" type="submit" name="action">Next
                      <i class="mdi-image-navigate-next right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!--insights test -->
<script>
  loadScriptOnlyIfNotLoaded('angular/app/assets/js/charts/ggleloader.js')
  loadScriptOnlyIfNotLoaded('angular/app/assets/js/charts/chartTest.js')
</script>

<div id="chart_div" style="width: 100%; height: 500px;"></div>


<!-- END insights test -->

<script>
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/materialize.min.js");
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins.min.js");
//  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins/jquery-validation/jquery.validate.min.js");
//  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins/jquery-validation/additional-methods.min.js");
</script>



<script>
  function validateAndGoNext(next) {

      $(next).trigger('click');


  }

  function validateInfoForm() {
    return $("#c_n").valid() && $("#c_url").valid() && $("#datestart").valid()
      && $("#dateend").valid() && $("#c_phone").valid() && $("#c_desc").valid();
  }

</script>


