<div class="col s12 m8 l9">
  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
    <li>
      <div id="campaign-section" class="collapsible-header active"><i class="mdi-action-info-outline"></i>CAMPAIGN INFO
      </div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form id="info-campaign-form" class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input ng-model="campaignToEdit.name" required id="c_n" type="text">
                    <label for="c_n">Campaign Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-editor-insert-link prefix"></i>
                    <input ng-model="campaignToEdit.url" required id="c_url" type="url">
                    <label for="c_url">Main Website</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-timer prefix"></i>
                    <!--<input ng-model="campaignToEdit.dateStart" required id="datestart" type="date" >-->
                    <input ng-disabled="true" input-date
                           type="text"
                           name="created"
                           id="inputCreated"
                           ng-model="campaignToEdit.dateStart"
                           container="body"
                           format="dd/mm/yyyy"
                           months-full="{{ month }}"
                           months-short="{{ monthShort }}"
                           weekdays-full="{{ weekdaysFull }}"
                           weekdays-short="{{ weekdaysShort }}"
                           weekdays-letter="{{ weekdaysLetter }}"
                           disable="disable"
                           min="{{ minDate }}"
                           max="{{ maxDate }}"
                           today="today"
                           clear="clear"
                           close="close"
                           select-years="15"
                           on-start="onStart()"
                           on-render="onRender()"
                           on-open="onOpen()"
                           on-close="onClose()"
                           on-set="onSet()"
                           on-stop="onStop()"/>
                    <label for="inputCreated">Date start</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-timer-off prefix"></i>
                    <input input-date
                           type="text"
                           name="created"
                           id="inputEnd"
                           ng-model="campaignToEdit.dateEnd"
                           container="body"
                           format="dd/mm/yyyy"
                           months-full="{{ month }}"
                           months-short="{{ monthShort }}"
                           weekdays-full="{{ weekdaysFull }}"
                           weekdays-short="{{ weekdaysShort }}"
                           weekdays-letter="{{ weekdaysLetter }}"
                           disable="disable"
                           min="{{campaignToEdit.dateStart}}"
                           max="{{ maxDate }}"
                           today="today"
                           clear="clear"
                           close="close"
                           select-years="15"
                           on-start="onStart()"
                           on-render="onRender()"
                           on-open="onOpen()"
                           on-close="onClose()"
                           on-set="onSet()"
                           on-stop="onStop()"/>
                    <label for="inputEnd">Date end</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-maps-local-phone prefix"></i>
                    <input ng-model="campaignToEdit.phoneNumber" id="c_phone" type="tel">
                    <label for="c_phone">Phone Number</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-action-subject prefix"></i>
                    <textarea ng-model="campaignToEdit.description" required id="c_desc"
                              class="materialize-textarea"></textarea>
                    <label for="c_desc">Description</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button onclick="validateAndGoNext('#assign-section')"
                            class="btn grey darken-3 waves-effect waves-light right" name="action">Next
                      <i class="mdi-image-navigate-next right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="assign-section" class="collapsible-header"><i class="mdi-action-language"></i>ASSIGN CHANNELS
      </div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <div class="input-field col s3 offset-s3">
                      <input ng-model="newChannelShow" ng-value="true" class="with-gap" name="group1" type="radio"
                             id="test3"/>
                      <label for="test3">New Channel</label>
                    </div>
                    <div class="input-field col s4">
                      <input ng-model="newChannelShow" ng-value="false" class="with-gap" name="group1" type="radio"
                             id="test4"/>
                      <label for="test4">Assign Channel</label>
                    </div>
                  </div>
                  <div ng-show="newChannelShow===false">
                    <span ng-init="camp.getAllMyChannels()"></span>
                    <div class="row">
                      <div class="input-field col s1">
                        <i class="mdi-image-edit prefix"></i>
                      </div>
                      <div class="input-field col s11">
                        <select class="browser-default" ng-model="campaignToEdit.channelId">
                          <option value="" disabled selected> Choose existent channel</option>
                          <optgroup ng-repeat="ch in camp.allMyChannels" label="{{ch.name}}">
                            <option value="{{ch._id}}">{{ch.url}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div ng-show="newChannelShow">
                    <div class="row">
                      <div class="input-field col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <i class="mdi-image-edit prefix"></i>
                            <input ng-model="campaignToEdit.channel.name" id="ch_name" type="text">
                            <label for="ch_name">Channel Name</label>
                          </div>

                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <i class="fa fa-users prefix"></i>
                            <input ng-init="campaignToEdit.channel.personal=false" id="personal" type="checkbox"
                                   ng-model="campaignToEdit.channel.personal">
                            <label for="personal">Personnel
                            </label>
                            <br>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s1">
                            <i class="mdi-image-edit prefix"></i>
                          </div>
                          <div class="input-field col s8">
                            <select ng-model="campaignToEdit.channel.type" name="type" id="ch_type">
                              <option value="" disabled>Type</option>
                              <option value="facebook">Facebook</option>
                              <option value="twitter">Twitter</option>
                              <option value="website">Website/Blogs</option>
                            </select>
                          </div>
                          <div
                            ng-if="campaignToEdit.channel.personal && campaignToEdit.channel.type==='facebook'"
                            style="margin-top: 15px;" class="input-field col s3">
                            <button
                              ng-click="camp.getPermissions()"
                              class="btn light-blue darken-4 waves-effect waves-light right">
                              <i class="fa fa-facebook-official left"></i> Give permission
                            </button>
                          </div>
                        </div>
                        <div  ng-if="!campaignToEdit.channel.personal" class="row">
                          <div class="input-field col s12">
                            <i class="mdi-image-edit prefix"></i>
                            <input ng-model="campaignToEdit.channel.url" id="ch_url" type="url">
                            <label for="ch_url">Channel URL</label>
                          </div>
                        </div>
                        <div class="row" ng-if="campaignToEdit.channel.personal && myFacebookPages.length">
                          <div class="input-field col s1">
                            <i class="fa fa-facebook prefix"></i>
                          </div>

                          <div class="input-field col s11">
                            <select ng-required="true" ng-model="campaignToEdit.channel.url" name="page" id="page"
                                    material-select watch>
                              <option value="" selected>Choose an option</option>
                              <option ng-repeat="page in myFacebookPages" value="{{page.value}}">{{page.text}}</option>
                            </select>
                            <label for="page">Page</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-show="newChannelShow==true" class="input-field s12">
                      <button ng-click="camp.addChannels(campaignToEdit.channel)"
                              class="col s4 offset-s4 btn grey darken-3 waves-effect waves-light center " name="action">
                        Add Channel To this Campaign
                        <i class="mdi-action-note-add right"></i>
                      </button>
                    </div>
                    <div ng-show="newChannelShow==false" class="input-field s12">
                      <button ng-click="camp.pushChannelId(campaignToEdit.channelId)"
                              class="col s4 offset-s4 btn grey darken-3 waves-effect waves-light center " name="action">
                        Add Channel To this Campaign
                        <i class="mdi-action-note-add right"></i>
                      </button>
                    </div>
                    <div class="input-field col s12">
                      <br/><br/><br/>
                      <span ng-repeat="channel in allChannelEditTodisplay">
                                 <div class="chip white-text {{camp.setColor(channel.url)}}">
                                    <img width="100" height="100"
                                         ng-src="{{'https://logo.clearbit.com/'+camp.extractDomain(channel.url)}}"
                                         err-src
                                         alt="logo">
                                    {{channel.name}}
                                    <i ng-click="camp.removeChannelsFromAdd($index)" class="material-icons mdi-navigation-close"></i>
                                 </div>
                              </span>
                      <br/><br/><br/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <button onclick="validateAndGoNext('#campaign-section')"
                              class="btn grey darken-3 waves-effect waves-light left" name="action">Previous
                        <i class="mdi-image-navigate-before left"></i>
                      </button>
                    </div>
                    <div class="input-field col s6">
                      <button onclick="validateAndGoNext('#keywords-section')"
                              class="btn grey darken-3 waves-effect waves-light right" name="action">Next
                        <i class="mdi-image-navigate-next right"></i>
                      </button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="keywords-section" class="collapsible-header"><i class="mdi-action-book"></i>KEYWORDS</div>
      <div class="collapsible-body">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <!--<h4 class="header2">Form with icon prefixes</h4>-->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-image-edit prefix"></i>
                    <input ng-model="camp.keyword.content" id="c_nnn" type="text">
                    <label for="c_n">Keyword Expression </label>
                  </div>

                  <div class="input-field col s12">
                    <div ng-init="camp.keyword.importance='low'" class="input-field col s3 offset-s2">
                      <input ng-model="camp.keyword.importance" value="low" class="with-gap" name="importanceKey" type="radio"
                             id="low"/>
                      <label for="low">Low</label>
                    </div>
                    <div class="input-field col s3">
                      <input ng-model="camp.keyword.importance" value="medium" class="with-gap" name="importanceKey" type="radio"
                             id="medium"/>
                      <label for="medium">Medium</label>
                    </div>
                    <div class="input-field col s2">
                      <input ng-model="camp.keyword.importance" value="high" class="with-gap" name="importanceKey" type="radio"
                             id="high"/>
                      <label for="high">High</label>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <br/><br/><br/>
                    <span ng-repeat="k in keywordsToEdit">
                                 <div class="chip white-text teal">
                                    {{k.content}}

                                     <i ng-click="camp.removeKeywordsFromAdd($index,true)" class="material-icons mdi-navigation-close"></i>
                                 </div>
                              </span>
                    <br/><br/><br/>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <button ng-click="camp.addKeywords(camp.keyword,true)"
                            class="col s4 offset-s4 btn grey darken-3 waves-effect waves-light center " name="action">
                      Add Keyword To this Campaign
                      <i class="mdi-action-note-add right"></i>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div  class="input-field col s6">
                    <button onclick="validateAndGoNext('#assign-section')"
                            class="btn grey darken-3 waves-effect waves-light left" name="action">Previous
                      <i class="mdi-image-navigate-before left"></i>
                    </button>
                  </div>
                  <div class="input-field col s6">
                    <button ng-click="camp.editCampaign(campaignToEdit)"
                            class="btn grey darken-3 waves-effect waves-light right" type="submit" name="action">Edit
                      Campaign
                      <i class="mdi-editor-border-color right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!--insights test -->
<!--<script>-->
<!--loadScriptOnlyIfNotLoaded('angular/app/assets/js/charts/ggleloader.js')-->
<!--loadScriptOnlyIfNotLoaded('angular/app/assets/js/charts/chartTest.js')-->
<!--</script>-->
<!--<div id="chart_div" style="width: 100%; height: 500px;"></div>-->
<!-- END insights test -->
<script>
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/materialize.min.js");
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins.min.js");
  //  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins/jquery-validation/jquery.validate.min.js");
  //  loadScriptOnlyIfNotLoaded("angular/app/assets/js/plugins/jquery-validation/additional-methods.min.js");
</script>
<script>
  function validateAndGoNext(next) {

    $(next).trigger('click');


  }
  //
  //  function validateInfoForm() {
  //    return $("#c_n").valid() && $("#c_url").valid() && $("#datestart").valid()
  //      && $("#dateend").valid() && $("#c_phone").valid() && $("#c_desc").valid();
  //  }

</script>
