<!--card stats start-->
<div id="card-stats">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content  green white-text">
          <img src="angular/app/assets/images/like-128.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> New Likes</p>
          <h4 class="card-stats-number">566</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span
            class="green-text text-lighten-5">from yesterday</span>
          </p>
        </div>
        <div class="card-action  green darken-2">
          <div id="clients-bar" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content red lighten-1 white-text">
          <img src="angular/app/assets/images/cmt.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> New Positive Comments</p>
          <h4 class="card-stats-number">1806</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span>
          </p>
        </div>
        <div class="card-action  red darken-2">
          <div id="invoice-line" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content green white-text">
          <img src="angular/app/assets/images/msg.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> Positive Messenger</p>
          <h4 class="card-stats-number">806</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-up"></i> 80% <span class="blue-grey-text text-lighten-5">from yesterday</span>
          </p>
        </div>
        <div class="card-action green darken-2">
          <div id="profit-tristate" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content green white-text">
          <img src="angular/app/assets/images/tw.png" alt="like" width="30" height="30">
          <p class="card-stats-title">Positive Tweets</p>
          <h4 class="card-stats-number">8990</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span
            class="purple-text text-lighten-5">last month</span>
          </p>
        </div>
        <div class="card-action green darken-2">
          <div id="sales-compositebar" class="center-align"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--card stats end-->

<!--card stats start-->
<div id="card-stats">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content  green white-text">
          <img src="angular/app/assets/images/lv.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> New Love</p>
          <h4 class="card-stats-number">566</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span
            class="green-text text-lighten-5">from yesterday</span>
          </p>
        </div>
        <div class="card-action  green darken-2">
          <div id="clients-bar" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content green lighten-1 white-text">
          <img src="angular/app/assets/images/cmt.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> New Negative Comments</p>
          <h4 class="card-stats-number">10</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-up"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span>
          </p>
        </div>
        <div class="card-action  green darken-2">
          <div id="invoice-line" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content red white-text">
          <img src="angular/app/assets/images/msg.png" alt="like" width="30" height="30">
          <p class="card-stats-title"> Negative Messenger</p>
          <h4 class="card-stats-number">20</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-down"></i> 20% <span class="blue-grey-text text-lighten-5">from yesterday</span>
          </p>
        </div>
        <div class="card-action red darken-2">
          <div id="profit-tristate" class="center-align"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content red white-text">
          <img src="angular/app/assets/images/tw.png" alt="like" width="30" height="30">
          <p class="card-stats-title">Positive Tweets</p>
          <h4 class="card-stats-number">50</h4>
          <p class="card-stats-compare">
            <i class="mdi-hardware-keyboard-arrow-down"></i> 10% <span
            class="purple-text text-lighten-5">last month</span>
          </p>
        </div>
        <div class="card-action red darken-2">
          <div id="sales-compositebar" class="center-align"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--card stats end-->



<script>
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/charts/highcharts.js", function(){
    //initialization code if you have some code depend on this
  });
   //si non , simple script load like this
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/charts/exporting.js");
  loadScriptOnlyIfNotLoaded("angular/app/assets/js/charts/column.js");


</script>

<div id="column-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


